<div class="ads">
    <div class="ads-image">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;width: 100%;height: 400px">
                <div class="carousel-caption">
                   <!-- <p>{{slide.text}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <div class="news">
        <div class="bar-title">
            <span>新闻动态</span>
            <a ui-sref="home.news.list">查看更多</a>
        </div>
        <ul class="news-list">
            <li ng-repeat="news in newsList"><a ui-sref="home.news.detail({id:news.id})">{{news.title}}</a><span>{{news.time}}</span></li>
        </ul>
    </div>
    <div class="about">
        <div class="bar-title">
            <span>关于杰程</span>
            <a ui-sref="home.agent.about">查看更多</a>
        </div>
        <div class="about-content">
            <div class="about-logo">
                <img src="../assets/image/logo_small.png">
            </div>
            <div class="about-msg">
                <p>辅导学员不用老师讲题！全国唯一拥有完整版全套文盲题库！（会随时更新优化）全国唯一拥有同时辅导大批量文盲学员的能力！电视台播音员用四种版本语音讲解每个题！文盲学员学习3-4天，就学习完所有题目！识字学员只需学习500题！每个题都自动显示答题关键字和自动技巧语音讲解每一个题！拥有杰程交规语音系统后，您立即就能上手对文盲学员.....
                <a ui-sref="home.agent.about">【查看详情】</a></p>
            </div>
        </div>
    </div>
</div>
<div class="site" ng-init="getSiteList()">
    <div class="bar-title">
        <span>网点展示</span>
        <a ui-sref="home.site.list">查看更多</a>
    </div>
    <div class="site-list">
        <div class="item" ng-repeat="site in sites">
            <div class="item-img" ui-sref="home.site.detail({id:site.id})"><img ng-src="{{site.imgUrl[0]}}"></div>
            <p>{{site.title}}</p>
        </div>
    </div>
</div>